[Unit]
Description=MeshingAround-ReportingTask

[Timer]
OnUnitActiveSec=1h
OnBootSec=5min
Unit=mesh_bot_reporting.service

[Install]
WantedBy=timers.target
